
<h1>{{title}}</h1>


{{#if isEditing}}

  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input id="title" class="form-control" value=title}}
    </div>
    <div class="form-group">
      <label for="grade">Grade</label>
      {{input id="grade" class="form-control" value=grade}}
    </div>
    <div class="form-group">
      <label for="bid">Starting Bid</label>
      {{input id="bid" class="form-control" value=bid}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea id="description" class="form-control" rows="15" value=description}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>

  </form>

  {{else}}

  <p class="lead">Staring Auction Price: {{bid}}</p>
  <h4>Grade: {{grade}}</h4>
  <h4>Description: {{description}}</h4>

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
  <button class="btn btn-primary" {{action 'delete'}}>Delete</button>

  {{/if}}

  <h2>Bidders</h2>

  {{#each bidders}}
    <p>{{name}}</p>
  {{/each}}

<p>{{#link-to 'new-bid' class="btn btn-success"}}New Bidder{{/link-to}}</p>

{{outlet}}
